.card{
    box-shadow: 10px 5px 5px lightslategray;
}
.form-group label {
    text-align: right;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
a {
    color: white;
    text-decoration: none;
}
table .thead-dark th {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
td{
    font-weight: bold;
    text-align: center;
}